<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="primaryServerIP" value="PrimaryServerAddress" />
    <add key="secondaryServerIP" value="SecondaryServerAddress" />
    <add key="postgresServerPort" value="PostgresPort" />
    <add key="postgresUsername" value="PostgresUser" />
    <add key="postgresPassword" value="PostgresUserPassword" />
    <add key="sqlExpressPort" value="SQLExpressPort" />
    <add key="sqlExpressDatabase" value="SQLEXpressDatabase" />
    <add key="sqlExpressUsername" value="SQLExpressUser" />
    <add key="sqlExpressPassword" value="SQLExpressPassword" />
    <add key="remoteServerUsername" value="WindowsUser" />
    <add key="remoteServerPassword" value="WindowsPassword" />
    <add key="localPostgresPath" value="C:\Program Files\PostgreSQL\10" />
    <add key="remoteSQLExpressBackupsDirectory" value="SQLExpressBackupDirectory\networkshare" />
    <add key="localSQLExpressBackupsDirectory" value="SQLExpressLocalBackupDirectory" />
  </appSettings> 
</configuration>